body {

    background-color: #f8f9fa;
    
}

.hero-section {

    padding: 100px 20px;
    text-align: center;
}

.card {
    
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    overflow: hidden;

}

.card:hover {

    transform: translateY(-5px);
    transition: 0.3s;
}

.footer {

    background: #212529;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.page-title {

    font-weight: bold;
    margin-bottom: 20px;
}

.navbar-brand {


    font-weight: bold;
    font-size: 24px;
}

.btn {
    
    border-radius: 8px;
}

.product-image {


    height: 250px;
    width: 100%;
    object-fit: contain;
    border: 4px solid #212529;
    border-radius: 10px;
    padding: 3px;
    background: white;


}
